<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Bahij-thesansarabic-bold.ttf</string>
		<string>Bahij_TheSansArabic-Plain.ttf</string>
		<string>Bahij_TheSansArabic-Black.ttf</string>
		<string>Bahij_TheSansArabic-Light.ttf</string>
		<string>Bahij_TheSansArabic-SemiBold.ttf</string>
	</array>
</dict>
</plist>
